body {
  font-family: sans-serif;
  background: #152b39;
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.react-sanfona-item-body-wrapper {
  background-color: #fff;
  padding: 20px;
}
.splitter-layout {
  position: static !important;
}
.custom-sidebar-class {
  z-index: 99;
}
.modal__button:hover {
  background-color: #1d4356;
}

.modal__button {
  background-color: #265973;
  border: 0;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Exo 2", Lato, sans-serif;
  font-size: 16px;
  padding: .7em 1.2em;
}

#SPAN_5 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(32, 64, 86);
  content: '""';
  cursor: pointer;
  display: block;
  height: 1px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  pointer-events: none;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(32, 64, 86);
  top: 0px;
  width: 18px;
  word-break: break-word;
  column-rule-color: rgb(32, 64, 86);
  perspective-origin: 9px 0.5px;
  transform-origin: 9px 0.5px;
  caret-color: rgb(32, 64, 86);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(32, 64, 86);
  border-radius: 1px 1px 1px 1px;
  font: normal normal 300 normal 16px / normal Oxygen, Oxygen, "Segoe UI",
    "Helvetica Neue", sans-serif;
  outline: rgb(32, 64, 86) none 0px;
  transition: all 0.15s ease-in 0s;
} /*#SPAN_5*/

#SPAN_5:after {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(32, 64, 86);
  content: '""';
  cursor: pointer;
  display: block;
  height: 1px;
  left: 0px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  text-decoration: none solid rgb(32, 64, 86);
  top: 0px;
  width: 18px;
  word-break: break-word;
  column-rule-color: rgb(32, 64, 86);
  perspective-origin: 9px 0.5px;
  transform: matrix(1, 0, 0, 1, 0, -5);
  transform-origin: 9px 0.5px;
  caret-color: rgb(32, 64, 86);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(32, 64, 86);
  border-radius: 1px 1px 1px 1px;
  font: normal normal 300 normal 16px / normal Oxygen, Oxygen, "Segoe UI",
    "Helvetica Neue", sans-serif;
  outline: rgb(32, 64, 86) none 0px;
  transition: all 0.15s ease-in 0s;
} /*#SPAN_5:after*/

#SPAN_5:before {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(32, 64, 86);
  content: '""';
  cursor: pointer;
  display: block;
  height: 1px;
  left: 0px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  text-decoration: none solid rgb(32, 64, 86);
  top: 0px;
  width: 18px;
  word-break: break-word;
  column-rule-color: rgb(32, 64, 86);
  perspective-origin: 9px 0.5px;
  transform: matrix(1, 0, 0, 1, 0, 5);
  transform-origin: 9px 0.5px;
  caret-color: rgb(32, 64, 86);
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(32, 64, 86);
  border-radius: 1px 1px 1px 1px;
  font: normal normal 300 normal 16px / normal Oxygen, Oxygen, "Segoe UI",
    "Helvetica Neue", sans-serif;
  outline: rgb(32, 64, 86) none 0px;
  transition: all 0.15s ease-in 0s;
} /*#SPAN_5:before*/

// https://codepen.io/aundrekerr/pen/GtLul/
@mixin fade-transition($element) {
  -webkit-transition: $element 0.15s ease-in-out;
  -moz-transition: $element 0.15s ease-in-out;
  -ms-transition: $element 0.15s ease-in-out;
  -o-transition: $element 0.15s ease-in-out;
  transition: $element 0.15s ease-in-out;
}

// https://codepen.io/aundrekerr/pen/GtLul/
#shinybutton {
  // /*  styling */
  display: inline-block;
  // text-transform: uppercase;
  // text-decoration: none;
  // letter-spacing: 5px;
  // color: #fafafa;
  // border: 3px solid #fafafa;
  // padding: 25px;

  // /*  centering */
  position: relative;
  // text-align: center;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  // -webkit-transform: translate(-50%, -50%);
  // -moz-transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  // -o-transform: translate(-50%, -50%);
  // background: rgba(0, 0, 0, 0.5);
  @include fade-transition(background);

  &:hover {
    background: rgba(8, 97, 76, 0.6);
  }
}

i {
  /*   positioning */
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  /*   gradient   */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(1%, rgba(255, 255, 255, 0.03)),
    color-stop(30%, rgba(255, 255, 255, 0.85)),
    color-stop(50%, rgba(255, 255, 255, 0.85)),
    color-stop(70%, rgba(255, 255, 255, 0.85)),
    color-stop(71%, rgba(255, 255, 255, 0.85)),
    color-stop(100%, rgba(255, 255, 255, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 1%,
    rgba(255, 255, 255, 0.6) 30%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.85) 70%,
    rgba(255, 255, 255, 0.85) 71%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#00ffffff',
      endColorstr='#00ffffff',
      GradientType=1
    ); /* IE6-9 */

  /*  forming the shine element
    play around with the width, skew and gradient to get different effects
  */
  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -moz-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);

  /*  animating it  */
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-10deg, 0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-10deg, 0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 1s;
  -o-transform: skew(-10deg, 0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
}

/*  */
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 88%;
  }
}

@-ms-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}
